<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
.page-content {
  padding-top: 100px; /* or more based on actual navbar height */
}
.content-wrapper {
  padding-top: 100px; /* Adjust based on your navbar height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
=======
body {
  margin: 0;
>>>>>>> f390404e8bfa606436d2b317729391df70e3f716
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
